html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */

div{
    width: 200px;
    height: 200px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.0620rem;
    background-color: hotpink;
    color: blueviolet;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}
  